<h1>Restaurant of your choice</h1>
<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.address %></p>

<div class="list-inline">
  <li> <%= link_to "All", restaurants_path, class: "btn btn-primary" %></li>
  <li> <%= link_to "Edit", edit_restaurant_path(@restaurant), class: "btn btn-success" %></li>
  <li> <%= link_to "Delete", restaurant_path(@restaurant), method: :delete, class: "btn btn-danger" %></li>
</div>

<h3>See all reviews</h3>
<ul>
  <% @restaurant.reviews.each do |review| %>
    <li> <%= review.content %> (<%= review.rating %>) </li>
  <% end %>
</ul>
<p><%= link_to "Add a new review", new_restaurant_review_path(@restaurant), class: "btn btn-primary" %></p>
